footer.footer
  .container
    .row
      .col-md-6
        a(href="#")
          img(src="./images/footer-logo.svg", alt="Logo Footer")
      .col-md-3
        h2.footer__title
          | ¿Desea saber más?
      .col-md-3
        a.btn.btn-primary
          | Contáctenos

script(src="./js/app.min.js")
