// web colors
$primary: #577565;
$secondary: #a2b423;
$border: #b9c75a;
$bg: #f2f4f3;
$title: #f58c01;
$text: #64796e;
$footer-text: #92a19a;
$button: #88971d;

// Web fonts
$open: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;