extends ./partials/layout.pug

block content
  
  //- Slider
  section.slider
    .container
      h1.text-center.slider__title Ethical
        br
        span 360

  //- Solutions
  section.solutions.py-5
    .container-fluid
      .row
        h2.text-center.solutions__title Nuestras Soluciones
        .card-group
          .card.text-white.bg-secondary
            img.card-img-top(src='./images/security.svg', alt='Seguridad')
            .card-body
              h4.card-title Card title
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card.text-white.bg-secondary
            img.card-img-top(src='./images/identification.svg', alt='Identificacion')
            .card-body
              h4.card-title Card title
              p.card-text This card has supporting text below as a natural lead-in to additional content.
              p.card-text
                small.text-muted Last updated 3 mins ago
          .card.text-white.bg-secondary
            img.card-img-top(src='./images/conectivity.svg', alt='Conectividad')
            .card-body
              h4.card-title Card title
              p.card-text
                | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
              p.card-text
                small.text-muted Last updated 3 mins ago

  //- Ethical action
  section.action
    .container
      h2.action__title Texto destacado
      h4.action__subtitle Texto secundario destacado

      a.btn.btn-dark.btn-lg.action__btn(href="#") Descubre más

  //- Partners
  section.partners
    .container
      a(href="#")
        img(src="./images/logo-nemesys.png", alt="Nemesysco")
      a(href="#")
        img(src="./images/logo-ensura.png", alt="Ensura")
      a(href="#")
        img(src="./images/logo-tech-life.png", alt="Tech Life")
      a(href="#")
        img(src="./images/logo-voicepin.png", alt="Voicepin")
      a(href="#")
        img(src="./images/logo-sixgill.png", alt="Sixgill")

